@{
    ViewData["Title"] = "Home Page";
}
<div>
    <div>
        <span>Enter a math operation:</span>
        <input type="text" id="input-operation" />
        <button onclick="calculate()">Calculate</button>
    </div>
    <div>
        <span>Output: </span>
        <span id="output"></span>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        function calculate() {
            var operation = document.getElementById('input-operation').value;
            var apiKey = 'da07c455-03c6-460f-b657-f70365f9e49f';

            fetch('test/Calculate', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-Api-Key': apiKey
                },
                body: JSON.stringify(operation)
            })
                .then(response => response.json())
                .then(result => {
                    document.getElementById('output').innerHTML = result.ans;
                });
        }                
    </script>
}